html{
	background: rgb(118, 146, 60);
}

body{
	padding-top: 10px;
	margin: auto;
	width: 900px;
	font-family: calibri, tahoma;
}

/*********************************************************************************************/

#cover{
	width: 900px;
	height: 320px;
}

#wallpaper{
	width: 900px;
	height: 320px;
}

#profile{
	width: 250px;
	height: 300px;
	position: relative; 
	top: -325px;
	text-align: center;
	color: rgb(118, 146, 60);
}

#profile_picture{
	width: 200px;
	height: 223px;
	border: 5px solid rgb(118, 146, 60);
	margin-top: -10px;
}

/*********************************************************************************************/

#dashboard{
	background: rgb(118, 146, 60);
	text-align: right;
	color: white;
	width: 900px;
	height: 45px;
}

.dashboard_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 13px;
	padding: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

.dashboard_item:hover{
	background: rgb(145, 177, 85);
}

/*********************************************************************************************/

#content{
	background: rgb(255, 255, 255);
	width: 900px;
	float: left;
	padding-bottom: 37px;
}

/*********************************************************************************************/

#ending{
	background: rgb(118, 146, 60);
	color: white;
	width: 900px;
	height: 80px;
	float: left;
	text-align: center;
}

.ending_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 12px;
	padding: 5px;
	font-size: 14px;
}

.ending_item:hover{
	text-decoration: underline;
}