html{
	background: rgb(2, 144, 162);
}

body{
	padding-top: 10px;
	margin: auto;
	width: 900px;
	font-family: calibri, tahoma;
}

/*********************************************************************************************/

#cover{
	width: 900px;
	height: 320px;
}

#wallpaper{
	width: 900px;
	height: 320px;
}

#profile{
	width: 250px;
	height: 300px;
	position: relative; 
	top: -325px;
	text-align: center;
	color: rgb(2, 144, 162);
}

#profile_picture{
	width: 200px;
	height: 223px;
	border: 5px solid rgb(2, 144, 162);
	margin-top: -10px;
}

/*********************************************************************************************/

#dashboard{
	background: rgb(2, 144, 162);
	text-align: right;
	color: white;
	width: 900px;
	height: 45px;
}

.dashboard_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 13px;
	padding: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

.dashboard_item:hover{
	background: rgb(60, 170, 190);
}

/*********************************************************************************************/

#welcome{
	background: rgb(215, 249, 249);
	width: 250px;
	height: 631px;
	float: left;
	color: rgb(2, 144, 162);
}

#welcome_heading{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	text-decoration: underline;
	font-size: 26px;
}

#welcome_message{
	padding: 15px;
	text-align: justify;
	font-size: 17px;
}

/*********************************************************************************************/

#content{
	background: rgb(255, 255, 255);
	width: 650px;
	float: left;
	padding-bottom: 37px;
}

.resource{
	text-decoration: none;
	width: 270px;
	height: 260px;
	float: left;
	margin-left: 37px;
	margin-top: 37px;
}

.resource:nth-child(1){
	color: rgb(95, 160, 60);
	background: rgb(232, 250, 222);
}
.resource:nth-child(2){
	color: rgb(74, 79, 100);
	background: rgb(223, 224, 231);
}
.resource:nth-child(3){
	color: rgb(94, 94, 47);
	background: rgb(232, 232, 222);
}
.resource:nth-child(4){
	color: rgb(99, 69, 69);
	background: rgb(231, 221, 221);
}
.resource:nth-child(1):hover{
	background: rgb(215, 245, 201);
}
.resource:nth-child(2):hover{
	background: rgb(195, 198, 211);
}
.resource:nth-child(3):hover{
	background: rgb(212, 212, 202);
}
.resource:nth-child(4):hover{
	background: rgb(211, 191, 191);
}

.resource_header{
	text-align: left;
	margin: 0px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.resource_description{
	text-align: justify;
	margin: 0px;
	padding: 20px;
}

/*********************************************************************************************/

#ending{
	background: rgb(2, 144, 162);
	color: white;
	width: 900px;
	height: 80px;
	float: left;
	text-align: center;
}

.ending_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 12px;
	padding: 5px;
	font-size: 14px;
}

.ending_item:hover{
	text-decoration: underline;
}