html{
	background: rgb(2, 144, 162);
}

body{
	padding-top: 10px;
	margin: auto;
	width: 900px;
	font-family: calibri, tahoma;
}

/*********************************************************************************************/

#cover{
	width: 900px;
	height: 320px;
}

#wallpaper{
	width: 900px;
	height: 320px;
}

#profile{
	width: 250px;
	height: 300px;
	position: relative; 
	top: -325px;
	text-align: center;
	color: rgb(2, 144, 162);
}

#profile_picture{
	width: 200px;
	height: 223px;
	border: 5px solid rgb(2, 144, 162);
	margin-top: -10px;
}

/*********************************************************************************************/

#dashboard{
	background: rgb(2, 144, 162);
	text-align: right;
	color: white;
	width: 900px;
	height: 45px;
}

.dashboard_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 13px;
	padding: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

.dashboard_item:hover{
	background: rgb(60, 170, 190);
}

/*********************************************************************************************/

#content{
	background: rgb(255, 255, 255);
	width: 900px;
	float: left;
	padding-bottom: 37px;
	color: rgb(2, 144, 162);
}

ul{
	list-style-type: none;
}

.prompt{
	font-size: 25px;
	margin-left: 70px;
	margin-bottom: 10px;
}

#contact{
	margin: auto;
	background: rgb(215, 249, 249);
	width: 700px;
	padding: 30px;
}

#googleMap{
	float: right;
	width: 350px;
	height: 250px;
	border: 2px solid rgb(2, 144, 162);
}

.contact_icon{
	float: left;
	margin-right: 15px;
}

.contact_header{
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
}

.contact_info{
	padding-bottom: 18px;
}

/********************/

#message{
	margin: auto;
	background: rgb(215, 249, 249);
	width: 700px;
	padding: 30px;
}

.message_header{
	float: left;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	width: 100px;
}

.message_input{
	width: 400px; 
	padding: 2px; 
	border: 2px solid rgb(2, 144, 162);
	margin-top: 10px;
	color: rgb(2, 144, 162);
}

.alert{
	float: right;
	color: red;
	font-size: 12px;
	margin-top: 13px;
	width: 180px;
}

#submit_button{
	background-color: rgb(255, 255, 255); 
    font: 18px calibri, tahoma;
	font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(2, 144, 162);
    color: rgb(2, 144, 162);
	margin-left: 434px;
	margin-top: 10px;
}

/*****************/

#social_profiles{
	margin: auto;
	background: rgb(215, 249, 249);
	width: 700px;
	padding: 30px;
	margin-bottom: 30px;
}

.social_profile_icons{
	width: 92px;
	height: 92px;
	margin-left: 10px;
	margin-bottom: 20px;
}

/*********************************************************************************************/

#ending{
	background: rgb(2, 144, 162);
	color: white;
	width: 900px;
	height: 80px;
	float: left;
	text-align: center;
}

.ending_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 12px;
	padding: 5px;
	font-size: 14px;
}

.ending_item:hover{
	text-decoration: underline;
}