html{
	background: rgb(2, 144, 162);
}

body{
	padding-top: 10px;
	margin: auto;
	width: 900px;
	font-family: calibri, tahoma;
}

/*********************************************************************************************/

#cover{
	width: 900px;
	height: 320px;
}

#wallpaper{
	width: 900px;
	height: 320px;
}

#profile{
	width: 250px;
	height: 300px;
	position: relative; 
	top: -325px;
	text-align: center;
	color: rgb(2, 144, 162);
}

#profile_picture{
	width: 200px;
	height: 223px;
	border: 5px solid rgb(2, 144, 162);
	margin-top: -10px;
}

/*********************************************************************************************/

#dashboard{
	background: rgb(2, 144, 162);
	text-align: right;
	color: white;
	width: 900px;
	height: 45px;
}

.dashboard_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 13px;
	padding: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

.dashboard_item:hover{
	background: rgb(60, 170, 190);
}

/*********************************************************************************************/

#content{
	background: rgb(255, 255, 255);
	width: 900px;
	float: left;
	padding-bottom: 37px;
	color: rgb(2, 144, 162);
}

.work_head{
	font-size: 25px;
	margin-left: 70px;
	margin-bottom: 10px;
}

.work_content{
	margin: auto;
	background: rgb(215, 249, 249);
	width: 700px;
	padding: 30px;
	text-align: justify;
	font-size: 18px;
}

.work_content:last-of-type{
	height: 200px;
	margin-bottom: 30px;
}

/*********************************************************************************************/

.software_head{
	margin-top: 5px;
	background: white;
	text-align: center;
}

.software_content{
	height: 300px;
	margin-bottom: 40px;
}

.software_image{
	width: 310px;
	height: 290px;
	padding: 5px;
	float: left;
}

.software_description{
	width: 320px;
	height: 240px;
	padding: 30px;
	text-align: justify;
	float: left;
}

.software_download{
	text-decoration: none;
	color: white;
	background-color: rgb(2, 144, 162);
	padding: 5px;
	margin-top: 10px;
	float: right;
}

.software_download:hover{
	background-color: rgb(75, 172, 198);
}

/*********************************************************************************************/

.program_head{
	margin-top: 5px;
	background: white;
	text-align: center;
}

.program_content{
	height: 200px;
	margin-bottom: 40px;
}

.program_image{
	width: 240px;
	height: 200px;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
}

.program_description{
	font-size: 16px;
	width: 320px;
	height: 140px;
	padding: 5px 30px 10px 30px;
	text-align: justify;
	float: left;
}

.program_download{
	text-decoration: none;
	color: white;
	background-color: rgb(2, 144, 162);
	padding: 5px;
	margin-top: 5px;
	float: right;
}

.program_download:hover{
	background-color: rgb(75, 172, 198);
}

/*********************************************************************************************/

.document_head{
	margin-top: 5px;
	background: white;
	text-align: center;
}

.document_content{
	height: 200px;
	margin-bottom: 40px;
}

.document_image{
	width: 155px;
	height: 200px;
	float: left;
	padding: 0px 30px 0px 30px;
}

.document_description{
	width: 345px;
	height: 180px;
	padding: 10px 70px 10px 70px;
	text-align: justify;
	float: left;
}

.document_download{
	text-decoration: none;
	color: white;
	background-color: rgb(2, 144, 162);
	padding: 5px;
	margin-top: 10px;
	float: right;
}

.document_download:hover{
	background-color: rgb(75, 172, 198);
}

/*********************************************************************************************/

.get{
	text-decoration: none;
	color: rgb(2, 144, 162);
	text-align: center;
	width: 166px;
	height: 182px;
	float: left;
	margin-left: 50px;
}

.get:hover{
	background: rgb(202, 237, 242);
}

.get_img{
	width: 150px;
	height: 150px;
	border: 2px solid rgb(2, 144, 162);
}

/*********************************************************************************************/

#ending{
	background: rgb(2, 144, 162);
	color: white;
	width: 900px;
	height: 80px;
	float: left;
	text-align: center;
}

.ending_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 12px;
	padding: 5px;
	font-size: 14px;
}

.ending_item:hover{
	text-decoration: underline;
}