html{
	background: rgb(2, 144, 162);
}

body{
	padding-top: 10px;
	margin: auto;
	width: 900px;
	font-family: calibri, tahoma;
}

/*********************************************************************************************/

#cover{
	width: 900px;
	height: 320px;
}

#wallpaper{
	width: 900px;
	height: 320px;
}

#profile{
	width: 250px;
	height: 300px;
	position: relative; 
	top: -325px;
	text-align: center;
	color: rgb(2, 144, 162);
}

#profile_picture{
	width: 200px;
	height: 223px;
	border: 5px solid rgb(2, 144, 162);
	margin-top: -10px;
}

/*********************************************************************************************/

#dashboard{
	background: rgb(2, 144, 162);
	text-align: right;
	color: white;
	width: 900px;
	height: 45px;
}

.dashboard_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 13px;
	padding: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

.dashboard_item:hover{
	background: rgb(60, 170, 190);
}

/*********************************************************************************************/

#content{
	background: rgb(255, 255, 255);
	width: 900px;
	float: left;
	padding-bottom: 37px;
	color: rgb(2, 144, 162);
}

ul{
	list-style-type: none;
	padding: 0px;
}

/**************************/
.about_me_head{
	font-size: 25px;
	margin-left: 70px;
	margin-bottom: 10px;
}

.about_me_head:nth-of-type(2){
	color: rgb(128, 100, 162);
}

.about_me_head:nth-of-type(3){
	color: rgb(85, 148, 70);
}

.about_me_head:nth-of-type(4){
	color: rgb(247, 150, 70);
}

/**************************/
.about_me_content{
	margin: auto;
	background: rgb(215, 249, 249);
	width: 700px;
	padding: 30px;
	text-align: justify;
	font-size: 18px;
}

.about_me_content:first-of-type{
	font-size: 19px;
}

.about_me_content:last-of-type{
	height: 200px;
	margin-bottom: 30px;
}

.about_me_content:nth-of-type(2){
	background: rgb(229, 223, 236);
}

.about_me_content:nth-of-type(3){
	background: rgb(220, 238, 215);
}

.about_me_content:nth-of-type(4){
	background: rgb(253, 233, 217);
}

/************************************************************************/

.skill{
	width: 212px;
	background: rgb(128, 100, 162);
	color: white;
	float: left;
	margin: 10px 10px 10px 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.strength{
	width: 154px;
	background: rgb(85, 148, 70);
	color: white;
	float: left;
	margin: 10px 10px 10px 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.weakness{
	width: 154px;
	background: rgb(247, 150, 70);
	color: white;
	float: left;
	margin: 10px 10px 10px 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#skill_finis{
	color: rgb(128, 100, 162);
	margin-top: 265px;
	margin-left: 10px;
	font-size: 19px;
}

#strength_finis{
	color: rgb(85, 148, 70);
	margin-top: 210px;
	margin-left: 10px;
	font-size: 19px;
}

#weakness_finis{
	color: rgb(247, 150, 70);
	margin-top: 155px;
	margin-left: 10px;
	font-size: 19px;
}

.star{
	color: red;
}
/*********************************************************************************************/

.get{
	text-decoration: none;
	color: rgb(2, 144, 162);
	text-align: center;
	width: 166px;
	height: 182px;
	float: left;
	margin-left: 50px;
}

.get:hover{
	background: rgb(202, 237, 242);
}

.get_img{
	width: 150px;
	height: 150px;
	border: 2px solid rgb(2, 144, 162);
}

/*********************************************************************************************/

#button{
	margin-left: 620px;
	margin-top: 20px;
	border: 0px;
	background: rgb(215, 249, 249);
	color: rgb(2, 144, 162);
}

#button:hover{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

/*********************************************************************************************/

#ending{
	background: rgb(2, 144, 162);
	color: white;
	width: 900px;
	height: 80px;
	float: left;
	text-align: center;
}

.ending_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 12px;
	padding: 5px;
	font-size: 14px;
}

.ending_item:hover{
	text-decoration: underline;
}