html{
	background: rgb(74, 79, 100);
}

body{
	padding-top: 10px;
	margin: auto;
	width: 900px;
	font-family: calibri, tahoma;
}

/*********************************************************************************************/

#cover{
	width: 900px;
	height: 320px;
}

#wallpaper{
	width: 900px;
	height: 320px;
}

#profile{
	width: 250px;
	height: 300px;
	position: relative; 
	top: -325px;
	text-align: center;
	color: rgb(74, 79, 100);
}

#profile_picture{
	width: 200px;
	height: 223px;
	border: 5px solid rgb(74, 79, 100);
	margin-top: -10px;
}

/*********************************************************************************************/

#dashboard{
	background: rgb(74, 79, 100);
	text-align: right;
	color: white;
	width: 900px;
	height: 45px;
}

.dashboard_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 13px;
	padding: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

.dashboard_item:hover{
	background: rgb(100, 107, 134);
}

/*********************************************************************************************/

#content{
	background: rgb(255, 255, 255);
	width: 900px;
	float: left;
	padding-top: 40px;
	padding-bottom: 70px;
	color: rgb(74, 79, 100);
}

.writs{
	margin: auto;
	margin-top: 30px;
	background: rgb(233, 234, 241);
	width: 700px;
	padding: 30px;
	text-align: justify;
	font-size: 16px;
}

.writs_head{
	text-decoration: underline;
	font-size: 20px;
}

.continue_reading{
	margin-left: 530px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0px;
	background: rgb(233, 234, 241);
	color: rgb(74, 79, 100);
	font-size: 15px;
	
}

.continue_reading:hover{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.download_pdf{
	margin-left: 540px;
	color: rgb(74, 79, 100);
	font-size: 17px;
	text-decoration: none;
}

.download_pdf:hover{
	text-decoration: underline;
}

/*********************************************************************************************/

#ending{
	background: rgb(74, 79, 100);
	color: white;
	width: 900px;
	height: 80px;
	float: left;
	text-align: center;
}

.ending_item{
	text-decoration: none;
	color: white;
	position: relative;
	top: 12px;
	padding: 5px;
	font-size: 14px;
}

.ending_item:hover{
	text-decoration: underline;
}